section .container {
    position: relative;
    display: grid;
    gap: 1rem;
    padding: 2rem;
    grid-template-columns: 1.5fr 1.5fr  repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.card {
    display:flex;
    padding: 1rem;
    border-radius: 10px;
    margin: 1.5rem;
    background: #F5F3FF;
    position: relative;
}

.card-title {
    color: #6A6A6A;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 10px;
    left: 15px;
    margin: 0 !important;
    width: max-content;
}

.card-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: max-content;
}
.card-heading h3 {
color: #444;

font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

p {
    margin: 0;
}

.import {
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.date-range {
    grid-column: 1;
    grid-row: 2;
}

.upload {
    grid-column: 2;
    grid-row: 2;
}

.health-info {
    grid-column: 1 / 9;
    grid-row: 3 / span 3;
    flex-flow: column nowrap;
    
}

.assistant {
    grid-column: 1/ span 2;
    grid-row: 6;
}

.container button {
    cursor: pointer;
    float: right;
    margin-right: 1rem;
    font-family: "Raleway";
    font-weight: semi-bold;
    background-color: #0c0c4c;
    color: white;
    padding: 0.25rem 0.75rem;
    border: none;
    border-radius: 0.3125rem;
}

.text-content {
    color: #676767;

    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}