

nav {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 3rem;
    gap: 2rem;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    list-style: none;
    padding: 0;
}

nav div {
    position: absolute;
    right: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.signinButton {
    border: none;
    border-radius: 15px;
    padding: 0.8rem 1.3rem;
    background: linear-gradient(180deg, #E9F0FD 0%, #F3EBF6 99.5%);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}