img {
    width: 4rem;
    margin: 0.75rem;
    margin-right: -0.25rem;
}

nav {
    background-color: #FFF;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 4.5rem;
    gap: 2rem;
    box-shadow: 0px 2.5px 4px 0px rgba(0, 0, 0, 0.05);
}

nav h1 {
    color: #1e1e1e;
    font-size: 1.3rem;
    margin-right: 1.5rem;
}

nav h2 {
    margin-left: -2.5rem;
    margin-right: 1.5rem;
    font-size: 1.25rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(147, 123, 255, 0.75) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    list-style: none;
    padding: 0;
}

nav ul li {
    cursor: pointer;
    font-size: 14px;
}

.dropdown-icon {
    transition: 0.15s ease-out;
}

nav ul li:hover .dropdown-icon {
    transform: scaleY(-1) translateY(2px);
}

/* 
nav ul li:hover .dropdown {
    transform: translateX(10px) translateY(-2px) rotate(-180deg);
} */

nav div {
    position: absolute;
    right: 4.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav div .dropdown {
    display: none;
    width: 2rem;
    cursor: pointer;
    padding-right: 1rem;
    padding-left: .5rem;
}

nav div .dark-mode {
    cursor: pointer;
    padding-right: 1rem;
    padding-left: .5rem;
}

.signinButton {
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 0.8rem 1.3rem;
    background: linear-gradient(180deg, #E9F0FD 0%, #F3EBF6 99.5%);
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 4.3s ease;
}

.signinButton:hover {
    background: linear-gradient(180deg, #F3EBF6 0%, #E9F0FD 79.5%);
}

nav a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 1150px) {
    nav div .dropdown {
        display: block;
    }

    nav ul {
        display: none;
    }
}