.container {
    margin: 1.5rem 5rem;
}


.container h2 {
    margin: 0 1.25rem;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    color: #6a6a6a;
}

.container h1 {
    margin: 0 1.25rem;
    color: #444;
    font-size: 1rem;

}

.container p {
    margin: 0 1.25rem;
}

.titles {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon {
    margin: 0;
    margin-left: 1.25rem;
    margin-right: -1.25rem;
}

.card-row {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
}

.health-card-input-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    width: 14.5rem;
    height: 4rem;
    background-color: #F5F3FF;
    margin: 1rem 0;
}

.health-card-input-card input {
    margin-left: 1.25rem;
    width: 7rem;
}

.date-range-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    width: 12rem;
    height: 4rem;
    background-color: #F5F3FF;
    margin: 1rem 0;
}

.health-info-card {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 83rem;
    height: 25rem;
    background-color: #F5F3FF;
    margin: 0.5rem 0;
}

.health-info-card h2,.ai-assistant-card h2, .send-to-clinic-card h2, .upload-documents-card h2 {
    margin-top: 1rem;
}

.health-info-data {
    margin-top: 1rem;
}

.health-info-data .row {
    display: flex;
    font: inherit;
    align-items: baseline;
}

.health-info-data .row h2 {
    color: #444;
    margin: 0;
    margin-left: 1.25rem;
}

.health-info-data .row p {
    font-size: 0.75rem;
    margin: 0;
    margin-left: 0.25rem;
    padding: 0.25rem 0;
}

.card-row {
    display: flex;
    gap: 1.5rem;
}

.ai-assistant-card {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 20rem;
    height: 8.25rem;
    background-color: #F5F3FF;
    margin: 1rem 0;
}

.assistant-interaction {
    
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.5rem 0;
}

input {
    font-family: inherit;
    border-color: none;
    border-radius: 25;
    width: 13rem;
}

input::placeholder {
    color: #333;
    opacity: 0.5;
    font-style: italic;
}

.container button {
    cursor: pointer;
    float: right;
    margin-right: 1rem;
    font-family: "Raleway";
    font-weight: semi-bold;
    background-color: #4f4fdb;
    color: white;
    padding: 0.2rem 0.75rem;
    border: none;
    border-radius: 0.3125rem;
}

.send-to-clinic-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    width: 40rem;
    height: 8.25rem;
    background-color: #F5F3FF;
    margin: 1rem 0;
    gap: 5px;
}

.upload-documents-card {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 20rem;
    height: 8.25rem;
    background-color: #F5F3FF;
    margin: 1rem 0;
}